@charset "utf-8";
html{
	font-size: 62.5%;
}


body{
	color: #333;
	font-family: "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-feature-settings : "palt";
	-moz-osx-font-smoothing: grayscale;
}

/* -----------------------navigation----------------------------*/
/* -----------------------navigation----------------------------*/
img{
	max-width: 100%;
	height: auto;
}

.header{
	background-color:#fff;
	text-align: center;
	width: 100%;
	height: 80px;
	border-bottom: solid;
	color: #F8E43E;
	vertical-align: bottom;
}


.logo{
	display: inline-block;
	width: 123px;
	height: 29px;
	margin: 0 95px 0 0 ;
	vertical-align: middle;
}

.nav-outer{
    display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 40px; 
}


.nav-inner{
	display: inline-block;
	vertical-align: top;
}


.nav-item{
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	vertical-align: top;
	padding: 0px 30px 0 30px;
}

.nav-outer li+ li{
	border-left: 1px solid #444;
  }

.button {
    display: inline-block;
	width: 200px;
	height: 40px;
	margin: 20px 0 	0 45px;
	font-size: 1.5rem;
	background-color: #FFF;
	vertical-align: bottom;
	border-radius: 25px;
    
    position: relative;
    z-index: 2;
    border: 2px solid #444;
    line-height: 35px;
    overflow: hidden;
   }
  
  .button::before,
  .button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }

  .button,
  .button::before,
  .button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .button:hover {
    color: #fff;
  }
  .button::after {
    left: -100%;
    width: 100%;
    height: 100%;
  }
  .button:hover::after {
    top: 0;
    left:0;
    background-color: #F8E43E;
  }


/* button effect*/
.wrapper{
   width: 100%;
}


.nav-outer{
    background-color: #fff;
}
/* -----------------------navigation----------------------------*/
/* -----------------------navigation----------------------------*/


/* ---------------weapper　class--------------- */
/* ---------------main visual--------------- */

.main-visual{
    height: 735px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	width: 100%;
	font-size: 4.8rem;
	line-height: 1;
    text-align: center;
}

.site-title__sub{
	display: block;
	margin: 40px 0 0;
	font-size: 4.2rem;
	font-weight: bold;
	color: #FFF;
}

.scroll-btn{
	position: absolute;
	top: 0;
	left: 0;
	top: 113%;
	left: 50%;
	transform: translate(-50%, -120%);
	/* なぜtransformで解決したのか、、、、topとleftあります。 */
}

.main-bg{
    width: 100%;
    background-image: url("../images/new.img/main-bg.png");
    height: 735px;
    background-repeat: no-repeat;
    background-size:cover;
    
}



/* ---------------about--------------- */

.about{
background-color: #EFEFEF;
text-align: center;
}

.about-title{
	position: relative;
    margin-bottom: 120px;
    
}

.title-logo{
	display: inline-block;
	height: 63px;
	width: 262px;
    margin: 160px 0 0 25px;
}

.title-sentence{
	display: inline-block;
	font-size: 3.2rem;
	font-weight: bold;
	margin: 150px 0 0 25px;
}

.title-img{
	position: absolute;
	height: 209px;
	width: 261px;
	top: 132px;
	left: 65%;
}

.section-sentence{
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
    color: #444;
}

.section-paragraph{
	margin-bottom: 50px;
}



/* ---------------cando-things--------------- */
/* 要素感に隙間ができる　素材の問題か */
.about-bg{
    width: 100%;
    height: 85px;
    background-image: url("../images/new.img/about-bg.png");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
   }


.cando-things{
    
	background-color: white;
	text-align: center;
}

.cando-titele{
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 306px;
  padding-top: 150px;
}

.cando-wrap{
	position: relative;
}

.cando-profile img{
	width: 397px;
	height: 814px;
	margin-bottom: 348px;	
}


/* cando-things-topsentence */

.cando-wrap{
    width: 1500px;
}

.cando-wrap .everything-wrap{
    width: 50%;
}


.section-top-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444;
	top: -20%;
	left: 62%;
	z-index: 2;
}

.cando-top-svg{
	position: absolute;	
	top: -20%;
	left: 54%;
	z-index: 1;
}

.top-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
    top: -10%;
	left: 62%;
	z-index: 2;
}

.top-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top: -6%;
	left: 62%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-topsentence */


/* cando-things-left-sentence */
.section-left-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444;
	top: 20%;
	left: 20%;
	z-index: 2;
}

.cando-left{
	position: absolute;
	top: 10%;
	left: 9%;
	z-index: 1;
}

.left-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
	top: 20%;
    left: 20%;
    z-index: 2;
}

.left-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top: 24%;
	left: 20%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-left-sentence */


/* cando-things-buttom-sentence */
.section-buttom-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444;
	top: 53%;
	left: 61%;
	z-index: 2;
}

.cando-buttom{
	position: absolute;
	top: 43%;
	left: 51%;
	z-index: 1;
}

.buttom-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
	top: 52%;
	left: 55%;
	z-index: 2;
}

.buttom-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top: 56%;
	left: 55%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-buttom-sentence */
.case-bg{
    width: 100%;
    height: 1648px;
    background-image: url("../images/new.img/case-bg.png");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
   }

/* ---------------cando-things--------------- */



/* ---------------case study--------------- */
.case-study{
    text-align: center;
    background-image: url("../images/new.img/case-bg.png");
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
}


.case-title{
	padding-top: 212px; 
	font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 100px;
}

.wrap {
    display: flex;
    justify-content: stretch;
  }

  .slider{
    margin:187px ;

  }

  .sl-img{
   margin: 0 auto;
  }

  .slide-item .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }

  .slider .flex .figure .img{
      margin-left: 70px 400px 400px 163px ;  
  }

  .slider .flex .textarea{
      margin: 0 auto;
  }

  .slider .textarea h2{
    font-size: 4.0rem;
    text-align: left;
    line-height: 150%;
    margin-bottom: 40px; 
  }

  .slider .textarea p{
    font-size: 2.0rem;
  }

  .slide-name {
    font-size: 1.8rem;
    text-align: right;
    margin-bottom: 40px;
  }

  .slide-arrow {
    display: flex;
    width: 32px;
    height: 82px;
    margin-bottom: 47px;
    margin-top: 150px
  }

.slide-text{
    text-align: left;
    line-height: 200%;
}

.slide-prearrow{
    position: absolute;
    top:200px;
    right:-100px;
}

.slide-nextarrow{
    position: absolute;
    top:200px;
    left:-100px;
}


/* ---------------case study--------------- */


/* ---------------footer--------------- */
.footer-bg{
    width: 100%;
    height: 60px;
    background-image: url("../images/new.img/footer-bg.png");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
   }

.footer{
	text-align: center;
	background-color: #868686;
	width: 100%;
	height: 650px;
	font-weight: bold;
	color: #FFF;
}


#svg-bg{
	position: absolute;
	pointer-events: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top:0px;
	left:0;
	z-index: 1;
	height: 40px;
}

.h2{
	font-size: 7.5rem;
	margin-bottom:72px;
	padding-top: 100px;
}

.footer-sentence{
	font-size: 2.0rem;
	line-height: 2.0;
	margin-bottom: 72px;
}

.li-item{
	display: inline-block;
	font-size: 2.0rem;
	padding: 0px 30px 0 30px;
}

.li-item a{
	color: #FFF;
}

.footer-ul{
	margin-bottom:23px;
}

.copyrights{
	font-size: 1.5rem;
}

.footer li+ li{
    border-left: 1px solid #FFF;
}

/* ---------------footer--------------- */