@charset "utf-8";
html{
	font-size: 62.5%;
}


body{
	color: #333;
	font-family: Arial, "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-feature-settings : "palt";
	-moz-osx-font-smoothing: grayscale;

}



/* -----------------------header----------------------------*/



img{
	max-width: 100%;
	height: auto;
}

.header{
	background-color:white;
	text-align: center;
	width: 100%;
	height: 80px;
	border-bottom: solid;
	color: #F8E43E;
	vertical-align: bottom;
}

/* paddeing なんか聞かない*/
.logo {
	display: inline-block;
	width: 123px;
	height: 29px;
	margin: 0 94.9px 0 0 ;
	vertical-align: middle;
}

.nav-outer{
    display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 40px; 
}


.nav-inner{
	display: inline-block;
	vertical-align: top;
}

/*　border 効いてない */
/*   */
.nav-item  {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	vertical-align: top;
	padding: 0px 30px 0 30px;
}

.nav-outer li+ li {
	border-left: 1px solid #444444;
  }


button.header-btn{
	display: inline-block;
	width: 200px;
	height:40px;
	margin: 20px 0 	0 45px;
	font-size: 1.5rem;
	border-color: #444444;
	background-color: #FFFFFF;
	vertical-align:bottom;
    border-radius: 25px;
}

.wrapper {
    background-color: aqua;
    height: 2000px;
}


.nav-outer{
    background-color: white;
}


/* ---------------weapper　class--------------- */
/* ---------------main visual--------------- */
.main-visual{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.site-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	width: 100%;
	font-size: 4.8rem;
	line-height: 1;
	text-align: center;
}

.site-title__sub{
	display: block;
	margin: 40px 0 0;
	font-size: 4.2rem;
	font-weight: bold;
	color: #FFFFFF;
}

.scroll-btn{
	position: absolute;
	top: 0;
	left: 0;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -120%);
	/* なぜtransformで解決したのか、、、、 */
}


/* ---------------about--------------- */

.about{
background-color: #EFEFEF;
text-align: center;
}

.about-title{
	position: relative;
	margin-bottom: 120px;
}

.title-logo{
	display: inline-block;
	height: 63px;
	width: 262px;
	margin: 160px 0 0 25px;
}

.title-sentence{
	display: inline-block;
	font-size: 3.2rem;
	font-weight: bold;
	margin: 150px 0 0 25px;
}



.title-img{
	position: absolute;
	height: 209px;
	width: 261px;
	top: 132px;
	left:70%;
}

.section-sentence{
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444444;
}

.section-paragraph{
	margin-bottom: 50px;
}

.about .wrap{
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #ffffff;
	z-index: 0;
}

#about-bg{
	position: absolute;
	pointer-events: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top:-40px;
	left:0;
	z-index: 1;
}

/* ---------------cando-things--------------- */

.cando-things{
	background-color: white;
	text-align: center;
}

.cando-titele{
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 306px;
  padding-top: 150px;
}

.cando-wrap{
	position: relative;
}

.cando-profile img {
	width: 397px;
	height: 814px;
	margin-bottom: 348px;	
}


/* cando-things-topsentence */
.section-top-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444444;
	top:-20%;
	left:62%;
	z-index: 2;
}

.cando-top-svg{
	position: absolute;	
	top:-20%;
	left:54%;
	z-index: 1;
}

.top-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
  top:-10%;
	left:62%;
	z-index: 2;
}

.top-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top:-6%;
	left:62%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-topsentence */


/* cando-things-left-sentence */
.section-left-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444444;
	top:20%;
	left:20%;
	z-index: 2;
}

.cando-left{
	position: absolute;
	top:10%;
	left:9%;
	z-index: 1;
}

.left-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
	top:20%;
	left:20%;
	z-index: 2;
}

.left-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top:24%;
	left:20%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-left-sentence */


/* cando-things-buttom-sentence */
.section-buttom-sentence{
	position: absolute;
	line-height: 200%;
	text-align: center;
	font-size: 2rem;
	color: #444444;
	top:53%;
	left:61%;
	z-index: 2;
}

.cando-buttom{
	position: absolute;
	top:43%;
	left:51%;
	z-index: 1;
}

.buttom-subtitele{
	position: absolute;
	font-size: 3.2rem;
	font-weight: bold;
	top:52%;
	left:55%;
	z-index: 2;
}

.buttom-paragraph{
	position: absolute;
	font-size: 2.0rem;
	top:56%;
	left:55%;
	z-index: 2;
	line-height: 200%
}
/* cando-things-buttom-sentence */

/* ---------------cando-things--------------- */


/* ---------------case study--------------- */

.case-study{
text-align: center;
background-color: #F2F2F2;
}

.case-titele{
	padding-top:112px; 
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 100px;

}

 .case-study .wrap{
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #ffffff;
	z-index: 0;
}

#case-bg{
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top:-110px;
	left:0;
	z-index: 1;

}


/* ---------------case study--------------- */


/* ---------------footer--------------- */

.footer{
	text-align: center;
	background-color: #868686;
	width: 100%;
	height: 650px;
	font-weight: bold;
	color: #FFFFFF;
}

.footer .wrap{
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #ffffff;
	z-index: 0;
}

#svg-bg{
	position: absolute;
	pointer-events: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top:0px;
	left:0;
	z-index: 1;
	height: 40px;
}

.path{
	width: 2000px;
}


.h2{
	font-size: 7.5rem;
	margin-bottom:72px;
	padding-top: 100px;
}

.footer-sentence{
	font-size: 2.0rem;
	line-height: 200%;
	margin-bottom:72px;
}

.li-item {
	display: inline-block;
	font-size: 2.0rem;
	padding: 0px 30px 0 30px;
}

.li-item a{
	color: #FFFFFF;
}

.footer-ul{
	margin-bottom:23px;
}

.copyrights{
	font-size: 1.5rem;
}

.footer li+ li {
	border-left: 1px solid #FFFFFF;
  }

/* ---------------footer--------------- */