/* ---------------about_-------------- */
.about_us{
  background-color: #EFEFEF;
  text-align: center;
  width: 100%;
}

.about_us .about_title{
  position: relative;
  margin-bottom: 120px;
  padding-top: 158px;
  font-size: 3.2rem;
}

.about_us .about_title::after{
    position: absolute;
    content: "";
    display: block;
    width: 268px;
    height: 216px;
    background-image: url("../../images/shake-hunds.png");
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    top: 133px;
    right: calc(50% - 350px);
  }

.about_us .about_title .about_title_logo{
  width: 262px;
  margin-bottom: -10px;
  margin-right: 25px;
}

.about_us .section_sentence{
  text-align: center;
  font-size: 2rem;
  color: #444;
}

.about_us .section_sentence .section_paragraph{
  font-size: 2rem;
  line-height: 200%;
}


