.case-study{
  text-align: center;
  background-image: url("../../images/case-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.case-study .case-title{
  padding-top: 212px;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 100px;
}

.player{
  width: 592px;
  height: 316px;
  margin: 101px auto 187px;
  background-color: #F8E43E;
  text-align: center;
  font-size: 4.0rem;
}

.case-study .slider{
  width: 834px;
  margin: 187px auto 163px; 
}

.case-study .slider .slide-item .flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case-study .slider .slide-item .flex .sl-img{
  padding-top: 120px;
  width: 337px;
}

.case-study .slider .slide-item .flex .textarea{
  margin: 0 auto;
}

.case-study .slider .slide-item .flex .textarea .topic{
  font-weight: bold;
  font-size: 3.3rem;
  text-align: left;
  margin-bottom: 20px;
  line-height: 150%;
}

.case-study .slider .slide-item .flex .textarea .slide-name{
  font-size: 1.4rem;
  text-align: right;
  font-weight: bold;
  margin-bottom: 30px;
}

.case-study .slider .slide-item .flex .textarea .slide-text{
  font-size: 1.6rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 20px solid #F8E43E;
  line-height: 200%;
  margin-bottom: 0.3em;
  padding-bottom: 30px;
}

.case-study .slide-arrow{
  display: flex;
}

.case-study .slide-prearrow,
.case-study .slide-nextarrow{
  position: absolute;
  top: 200px;
  width: 21px;
  height: 56px;
}

.case-study .slide-prearrow{
  right: -68px;
}

.case-study .slide-nextarrow{
  left: -18px;
}