.footer{
  text-align: center;
  background-color: #868686;
  width: 100%;
  font-weight: bold;
  color: #FFF;
}

.footer::before{
  width: 100%;
  height: 16px;
  display: block;
  content: "";
  background-image: url("../../images/footer-bg.svg");
  background-repeat: repeat-x;
  background-color:#FFF;
}

.footer .h2{
  font-size: 7.5rem;
  margin-bottom: 72px;
  padding-top: 137px;
}

.footer-ul{
  margin-bottom: 23px;
}

.footer .footer-sentence{
  font-size: 2.0rem;
  line-height: 2.0;
  margin-bottom: 3.7%;
}

.footer .footer-ul .li-item{
  display: inline-block;
  font-size: 2.0rem;
  padding: 0 1em;
}

.footer .footer-ul .li-item a{
  color: #FFF;
}

.footer li + li{
  border-left: 1px solid #FFF;
  font-size: 1.5rem;
}

.footer .copyrights {
  padding-bottom: 113px;
  font-size: 1.5rem;
}

/* SP */
@media screen and (max-width:600px){
  .footer .h2{
    font-size: 6.9rem;
    margin-bottom: 30px;
  }

  .footer .footer-sentence{
    font-size: .9rem;
  }

  .footer .footer-ul{
    margin-bottom: 89px;
  }

  .footer .footer-ul .li-item{
    font-size: 1.1rem;
  }

  .footer .copyrights{
    padding-bottom: 96px;
  }
}