.header{
  border-bottom: 4px solid #F8E43E;
  background-color: #fff;
}
.header-wrap{
  width: 100%;
  height: 80px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 125px;
}

.header .nav-wrap ul li{
  display: inline;
  padding: 0 1em;
  font-size: 12px;
  font-weight: bold;
} 

.header .nav-wrap li+li{
  border-left: 1px solid #444;
}

.header .service-link-button{
  font-size: 15px;
  background-color: #FFF;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  border: 2px solid #444;
  overflow: hidden;
  padding: .87em 1.6em;
} 

.service-link-button::before,
.service-link-button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.service-link-button,
.service-link-button::before,
.service-link-button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service-link-button:hover {
  color: #fff;
}

.service-link-button::after {
  left: -100%;
  width: 100%;
  height: 100%;
}

.service-link-button:hover::after {
  top: 0;
  left: 0;
  background-color: #F8E43E;
}