/* ---------------main visual--------------- */
.main-visual{
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center; 
  align-items: center; 
}

.main-visual .main-bg{
  height: 0;
  width: 100%;
  background-image: url("../images/new.img/main-bg.png");
  padding-top: 38%;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-visual .site-logo{
  position: absolute;
  height: 23%;
  width: 36%;
  top: 26%;
  left: 32%;
}

/* .main-visual .site-title img{
 height: 100%;
  width:  100%;
 }  */ 

 .main-visual .site-logo-sub{
  position: absolute;
  top: 55%;
  left: 34%;
  height: 10%;
  width: 36%;
  font-size: 2.1vw;
  font-weight: bold;
  color: #FFF;
}

.main-visual .scroll-btn{
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual .scroll-btn {
  width: 6.8%;
  margin-top: 34%;
  margin-left: 47%;
} 

/* .main-visual .scroll-btn img{
  height: 100%;
  width: 100%; 
}   */