/* ---------------main visual--------------- */
.main-visual{
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center; 
}

.main-visual::before{
  content: '';
  display: inline-block;
  width: 100%;
  height: 0px;
  padding-top: 37%;
  background-image: url('../../images/main-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-visual .site-title{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main-visual .site-logo .site-title{
  height: 23%;
  width: 36%;
}

.main-visual .site-title .site-logo-sub {
  margin-top: 45px; 
  text-align: center;
  font-size: 2.1vw;
  font-weight: bold;
  color: #FFF;
}

.main-visual .scroll-btn{
  position: absolute;
  bottom:0%;
  right:50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); 
  width: 6.8%;
}
