/* ---------------main visual--------------- */

.main-visual{
    height: 735px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	width: 100%;
	font-size: 4.8rem;
	line-height: 1;
    text-align: center;
}

.site-title__sub{
	display: block;
	margin: 40px 0 0;
	font-size: 4.2rem;
	font-weight: bold;
	color: #FFF;
}

.scroll-btn{
	position: absolute;
	top: 0;
	left: 0;
	top: 113%;
	left: 50%;
	transform: translate(-50%, -120%);
	/* なぜtransformで解決したのか、、、、topとleftあります。 */
}

.main-bg{
    width: 100%;
    background-image: url("../images/new.img/main-bg.png");
    height: 735px;
    background-repeat: no-repeat;
    background-size:cover;
    
}
